#+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++#
# This file is a .ucf for ElbertV2 Development Board                                                  #
# To use it in your project :                                                                         #
# * Remove or comment the lines corresponding to unused pins in the project                           #
# * Rename the used signals according to the your project                                             #
#+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++#

#**************************************************************************************************************************************************#
#                                            UCF for ElbertV2 Development Board                                                                    #
#**************************************************************************************************************************************************#
CONFIG VCCAUX = "3.3" ;
 
 # Clock 12 MHz
   NET "clk"                  LOC = P129  | IOSTANDARD = LVCMOS33 | PERIOD = 12MHz;



#    NET "segA"    LOC = P117  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
#    NET "segB"    LOC = P116  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
#    NET "segC"    LOC = P115  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
#    NET "segD"    LOC = P113  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
#    NET "segE"    LOC = P112  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
#    NET "segF"    LOC = P111  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
#    NET "segG"    LOC = P110  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
#    NET "segDP"   LOC = P114  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
#
#    NET "Enable1"          LOC = P124  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
#    NET "Enable2"          LOC = P121  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
#    NET "Enable3"          LOC = P120  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
	 
	 
    NET "segA"    LOC = P31  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
    NET "segB"    LOC = P32  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
    NET "segC"    LOC = P28  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
    NET "segD"    LOC = P30  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
    NET "segE"    LOC = P27  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
    NET "segF"    LOC = P29  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
	  NET "segG"    LOC = P24 | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
    NET "segDP"   LOC = P25  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;

  
